# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        firefox: [ '84.0', 'latest-beta', 'latest-devedition', 'latest-esr', 'latest' ]
    name: Firefox ${{ matrix.firefox }} sample
    steps:
      - name: Setup firefox
        uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: ${{ matrix.firefox }}
      - run: |
          firefox --version
          echo "Provo ad avviare firefox"
          sudo apt install firefox xorg
          sudo apt-get install xinit
          sudo add-apt-repository ppa:gnome3-team/gnome3
          sudo apt-get update
          sudo apt-get dist-upgrade
          sudo apt-get install gnome-shell
          sudo reboot
          echo "Vediamo il contenuto del file Xwrapper.config"
          cat /etc/X11/Xwrapper.config
          sudo startx
          firefox
        
